/* GLOBAL */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}

/*** FONTS ***/
@font-face {
  font-family: muli_regular;
  src: url(./assets/fonts/Muli.ttf);
}
@font-face {
  font-family: muli_medium;
  src: url(./assets/fonts/Muli-SemiBold.ttf);
}
@font-face {
  font-family: muli_bold;
  src: url(./assets/fonts/Muli-Bold.ttf);
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: muli_regular !important;
}
